@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color1: #1b57d8;
    --color2: #cb2bae;
    --color3: rgb(233, 231, 150);
    --color4: rgb(67, 67, 67);
    --color5: #ceeec5;
    --radius: 5.25rem;
    --border-size: 0.35rem;
}

body {
    background-color: var(--color1);
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 3rem;
}

.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: var(--color2);
    padding: 1rem 2rem;
    color: var(--color3);
    cursor: pointer;
    border: var(--border-size) solid white;
    border-radius: var(--radius);
    font-size: 1.75rem;
    font-family: "Anton", sans-serif;
}


.note {
    background-color: var(--color3);
    border: var(--border-size) solid var(--color4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 30px 20px;
    height: 400px;
    width: 400px;
    border-radius: var(--radius);
    color: color4;
}

.color-toggle {
    background-color: var(--color5);
}

.note .tools {
    border-bottom: var(--border-size) solid var(--color4);
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2.3rem;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: var(--color3);
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note textarea {
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding: 22px;
    z-index: 10;
}

.main {
    padding: 20px;
}

.hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", sans-serif;
}


h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--color3);
    font-size: 2rem;
}

.title {
    width: fit-content;
    height: 100%;
    padding: 2px 37.5px;
}

.note-buttons {
    display: flex;
    justify-content: flex-end;
}

i {
    font-size: 2rem;
    margin: 0 2.5px;
}